<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <div class="row">
          <div class="col-6">
            Product List
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-sm btn-success">New</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- Product list content goes here -->
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <div class="row">
          <div class="col-6">
            New Product List
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-sm btn-success">New</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- New product form or content goes here -->
      </div>
    </div>
  </div>
</div>